<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Conirm Order</title>
</head>
  <body>
    <div class="container">
      <h1>Description</h1>
      <p>The basic feature of the APIs are as follows</p>
      <ul>
        <li>There will br two type of user a)Customer b) Admin</li>
        <li>If you are login as an Admin then you're not authorized to signup or signin in customers page</li>
        <li>If you're login as a customer then you're not authorized to signup or signin in admin page</li>
        <li>In the product page only admins are authorized to add and update product not customers</li>
        <li>If you are a customer then only you can book your outfit</li>
        <li>Only admins are authorized to view orders</li>
      </ul>
      <h2>Api List</h2>
     <li>localhost:5000 (index Page)</li>
     <li>localhost:5000/admin-signup (Admin Signup)</li>
     <li>localhost:5000/admin-login (Admin login)</li>
     <li>localhost:5000/all-admins (All admins)</li>
     <li>localhost:5000/customer-signup (Customer Signup)</li>
     <li>localhost:5000/customer-login (Customer Login)</li>
     <li>localhost:5000/add-outfit (For adding outfit details, <b>Admin Only</b>)</li>
     <li>localhost:5000/outfits (All added outfit list, <b>Admin Only</b>)</li>
     <li>localhost:5000/all-customers (All customer details,<b>Admin Only</b>)</li>
     <li>localhost:5000/customer-order (Admin only)</li>
     <li>localhost:5000/customer-order/confirm-order/:id (Customer Only)</li>
     <li>localhost:5000/order (Admins only)</li>
    </div>
  </body>
</html>
